pipeline/ABS_TO_SF.json
{
	"name": "ABS_TO_SF",
	"properties": {
		"activities": [
			{
				"name": "Lookup Scripts - TRUNCATE_SG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "SELECT *\nFROM PUBLIC.CF_SCRIPT_TO_EXECUTE\nWHERE IS_ACTIVE = 1 AND STEP = 'TRUNCATE_SG';",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SF_Table_CF_SCRIPT_TO_EXECUTE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach SG Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Scripts - TRUNCATE_SG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Scripts - TRUNCATE_SG').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Truncate Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"sink": {
									"type": "SnowflakeSink",
									"preCopyScript": {
										"value": "@{item().BODY}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "processing",
									"enableCompression": true
								}
							},
							"inputs": [
								{
									"referenceName": "SF_Table_CF_DUMMY",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SF_Table_CF_DUMMY",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Scripts - LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data - CLIENT",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data - PRODUCT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "SELECT *\nFROM PUBLIC.CF_SCRIPT_TO_EXECUTE\nWHERE IS_ACTIVE = 1 AND STEP = 'TRANSFORM_AND_LOAD';",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SF_Table_CF_SCRIPT_TO_EXECUTE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Load Step",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Scripts - LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Scripts - LOAD').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Merge Command",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"sink": {
									"type": "SnowflakeSink",
									"preCopyScript": {
										"value": "@{item().BODY}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "processing",
									"enableCompression": true
								}
							},
							"inputs": [
								{
									"referenceName": "SF_Table_CF_DUMMY",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SF_Table_CF_DUMMY",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data - CLIENT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach SG Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeSink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ClientId",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ClientName",
									"type": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ClientStatus",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UpdatedTime",
									"type": "String"
								},
								"sink": {
									"name": "UPDATED_TIME",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_Client",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_Table_SG_CLIENT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data - PRODUCT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach SG Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "SnowflakeSink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage",
							"type": "LinkedServiceReference"
						},
						"path": "processing"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductCode",
									"type": "String"
								},
								"sink": {
									"name": "CODE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProductStatus",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_Product",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_Table_SG_PRODUCT",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}